# Security
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=admin123

# Data (optional – if not set, synthetic data will be generated)
# DATA_PATH=data/athletes.csv

# Live matches API (optional – mock used if not set)
LIVE_MATCHES_API_URL=https://api.football-data.org/v4/matches
API_KEY=f6c3ecb381ee44799c3d16c41525b867